header{
    background-image: url(https://wallpaperaccess.com/full/170249.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; 
}
strong{
     color: red;
}